* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    width: 100%;
    height: 100%;
    background-color: rgb(109, 160, 205);
    font-family: Arial, sans-serif; /* Или другой шрифт по вашему выбору */
  }